@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
  }
  
  body {
    margin: 3rem;
   
  }
  
  h1, h2 {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    color: #16161d;
  }
  